<div class="bg-dark text-white vh-100 p-3" style="width: 250px;">
  <h4>Menú</h4>
  <ul class="nav flex-column">
    <div class="mt-3">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/home/add" routerLinkActive="active">Añadir tareas</a>
      </li>
    </div>
    <div class="mt-3">
      <li>
        <a class="nav-link text-white" routerLink="/home/tareas" routerLinkActive="active"> Tareas </a>
      </li>
    </div>
    <div class="mt-3">
      <li class="nav-item">
        <button class="btn btn-danger mt-3" (click)="logout()">Cerrar sesión</button>
      </li>
    </div>
  </ul>
</div>

